In [4]:
import pandas as pd

movies = pd.read_csv("P4-Movie-Ratings.csv")

In [5]:
len(movies)

559

In [6]:
movies.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [7]:
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [8]:
#Rename columes so spaces ect are gone

movies.columns = ['Film', 'Genre', 'Rotten_Tomatoes_Ratings_Percentage', 'Audience_Ratings_Percentage',
       'Budget_million_dollars ', 'Year_of_release']

In [10]:
movies.head()

,Film,Genre,Rotten_Tomatoes_Ratings_Percentage,Audience_Ratings_Percentage,Budget_million_dollars,Year_of_release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Film                                559 non-null    object
 1   Genre                               559 non-null    object
 2   Rotten_Tomatoes_Ratings_Percentage  559 non-null    int64
 3   Audience_Ratings_Percentage         559 non-null    int64
 4   Budget_million_dollars              559 non-null    int64
 5   Year_of_release                     559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [13]:
# from the movies.info we can see that year of release is treated as a number which we aren't interested in see movies.describe()

movies.describe()

,Rotten_Tomatoes_Ratings_Percentage,Audience_Ratings_Percentage,Budget_million_dollars,Year_of_release
count,559.000000,559.000000,559.000000,559.000000
mean,47.309481,58.744186,50.236136,2009.152057
std,26.413091,16.826887,48.731817,1.362632
min,0.000000,0.000000,0.000000,2007.000000
25%,25.000000,47.000000,20.000000,2008.000000
50%,46.000000,58.000000,35.000000,2009.000000
75%,70.000000,72.000000,65.000000,2010.000000
max,97.000000,96.000000,300.000000,2011.000000

In [15]:
# turning data into categories
movies.info()

movies.Film = movies.Film.astype('category')
movies.Genre = movies.Genre.astype('category')
movies.Year_of_release = movies.Year_of_release.astype('category')

movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Film                                559 non-null    object
 1   Genre                               559 non-null    object
 2   Rotten_Tomatoes_Ratings_Percentage  559 non-null    int64
 3   Audience_Ratings_Percentage         559 non-null    int64
 4   Budget_million_dollars              559 non-null    int64
 5   Year_of_release                     559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Film                                559 non-null    category
 1   Genre                               559 non-null    category
 2   Rotten_Tomatoes_Ratings_Percentage  559 non-null    int64
 3   Audience_Ratings_Percentage         559 non-null    int64
 4   Budget_million_dollars              559 non-null    int64
 5   Year_of_release                     559 non-null    category
dtypes: category(3), int64(3)
memory usage: 36.5 KB

In [16]:
# correct datatypes describes gives more usefull information

movies.describe()

,Rotten_Tomatoes_Ratings_Percentage,Audience_Ratings_Percentage,Budget_million_dollars
count,559.000000,559.000000,559.000000
mean,47.309481,58.744186,50.236136
std,26.413091,16.826887,48.731817
min,0.000000,0.000000,0.000000
25%,25.000000,47.000000,20.000000
50%,46.000000,58.000000,35.000000
75%,70.000000,72.000000,65.000000
max,97.000000,96.000000,300.000000

In [17]:
movies.Genre.cat.categories

Index(['Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance',
       'Thriller'],
      dtype='object')