In [11]:
import pandas as pd

stats = pd.read_csv("P4-Demographic-Data.csv")

In [12]:
stats.head(10)

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
0,Aruba,ABW,10.244,78.9000,High income
1,Afghanistan,AFG,35.253,5.9000,Low income
2,Angola,AGO,45.985,19.1000,Upper middle income
3,Albania,ALB,12.877,57.2000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0000,High income
5,Argentina,ARG,17.716,59.9000,High income
6,Armenia,ARM,13.308,41.9000,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.4000,High income
8,Australia,AUS,13.200,83.0000,High income
9,Austria,AUT,9.400,80.6188,High income

In [13]:
# Basic operations with DataFrames
# already spoke about subsetting. Refresh: "look in Data_frames_pandas.ipynb"

stats[['CountryCode','Birthrate','Internetusers']][4:8]

  CountryCode  Birthrate  Internetusers
4         ARE     11.044           88.0
5         ARG     17.716           59.9
6         ARM     13.308           41.9
7         ATG     16.447           63.4

In [14]:
# Mathematical operations:

result = stats.Internetusers * stats.Birthrate

result.head()

0    808.2516
1    207.9927
2    878.3135
3    736.5644
4    971.8720
dtype: float64

In [15]:
# Add colum:

stats['MyCalc'] = stats.Internetusers * stats.Birthrate

stats.head()

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup,MyCalc
0,Aruba,ABW,10.244,78.9,High income,808.2516
1,Afghanistan,AFG,35.253,5.9,Low income,207.9927
2,Angola,AGO,45.985,19.1,Upper middle income,878.3135
3,Albania,ALB,12.877,57.2,Upper middle income,736.5644
4,United Arab Emirates,ARE,11.044,88.0,High income,971.8720

In [16]:
# comparison to R
# this dose not work
stats['xyz'] = [1,2,3,4,5] # Error . No recycling option

ValueError: Length of values (5) does not match length of index (195)

In [18]:
# Remove a column
stats.drop('MyCalc', 1) # dose not modify the original object but return a new obejct

C:\Users\flc\AppData\Local\Temp\ipykernel_17248\2019836281.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  stats.drop('MyCalc', 1)

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [19]:
stats.head()

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup,MyCalc
0,Aruba,ABW,10.244,78.9,High income,808.2516
1,Afghanistan,AFG,35.253,5.9,Low income,207.9927
2,Angola,AGO,45.985,19.1,Upper middle income,878.3135
3,Albania,ALB,12.877,57.2,Upper middle income,736.5644
4,United Arab Emirates,ARE,11.044,88.0,High income,971.8720

In [20]:
# To remove it we have to override the stats object

stats = stats.drop('MyCalc', 1)
stats.head()

C:\Users\flc\AppData\Local\Temp\ipykernel_17248\1255406750.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  stats = stats.drop('MyCalc', 1)

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income