In [22]:
import pandas as pd

stats = pd.read_csv("P4-Demographic-Data.csv")

In [23]:
# Reverse dataframe 1 version

stats.iloc[::-1]

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
194,Zimbabwe,ZWE,35.715,18.5,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
191,South Africa,ZAF,20.850,46.5,Upper middle income
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
...,...,...,...,...,...
4,United Arab Emirates,ARE,11.044,88.0,High income
3,Albania,ALB,12.877,57.2,Upper middle income
2,Angola,AGO,45.985,19.1,Upper middle income
1,Afghanistan,AFG,35.253,5.9,Low income
0,Aruba,ABW,10.244,78.9,High income

In [24]:
# Reverse dataframe 2 version

stats.reindex(index=stats.index[::-1])

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
194,Zimbabwe,ZWE,35.715,18.5,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
191,South Africa,ZAF,20.850,46.5,Upper middle income
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
...,...,...,...,...,...
4,United Arab Emirates,ARE,11.044,88.0,High income
3,Albania,ALB,12.877,57.2,Upper middle income
2,Angola,AGO,45.985,19.1,Upper middle income
1,Afghanistan,AFG,35.253,5.9,Low income
0,Aruba,ABW,10.244,78.9,High income

In [25]:
# Show head "10 from the top"
stats.head(10)

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
0,Aruba,ABW,10.244,78.9000,High income
1,Afghanistan,AFG,35.253,5.9000,Low income
2,Angola,AGO,45.985,19.1000,Upper middle income
3,Albania,ALB,12.877,57.2000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0000,High income
5,Argentina,ARG,17.716,59.9000,High income
6,Armenia,ARM,13.308,41.9000,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.4000,High income
8,Australia,AUS,13.200,83.0000,High income
9,Austria,AUT,9.400,80.6188,High income

In [26]:
stats['CountryName'].head(10)

0                   Aruba
1             Afghanistan
2                  Angola
3                 Albania
4    United Arab Emirates
5               Argentina
6                 Armenia
7     Antigua and Barbuda
8               Australia
9                 Austria
Name: CountryName, dtype: object

In [27]:
stats['Country Name', 'Birth rate'].head(10)

KeyError: ('Country Name', 'Birth rate')

In [ ]:
SearchList = ['CountryName', 'Birthrate']

stats[SearchList].head(10)

In [ ]:
# Quick access - requires the name to be one word
# remember rows must have names without space then use the dot operator
stats.Birthrate

In [28]:
# slice out data
SearchList = ['CountryName', 'Birthrate']

stats[4:8][SearchList]

            CountryName  Birthrate
4  United Arab Emirates     11.044
5             Argentina     17.716
6               Armenia     13.308
7   Antigua and Barbuda     16.447

In [29]:
# slice out data in different order
SearchList = ['CountryName', 'Birthrate']

stats[SearchList][4:8]

            CountryName  Birthrate
4  United Arab Emirates     11.044
5             Argentina     17.716
6               Armenia     13.308
7   Antigua and Barbuda     16.447