In [14]:
import pandas as pd

stats = pd.read_csv("P4-Demographic-Data.csv")

In [15]:
# Filtering data in dataframes

stats.Internetusers < 2

0      False
1      False
2      False
3      False
4      False
       ...
190    False
191    False
192    False
193    False
194    False
Name: Internetusers, Length: 195, dtype: bool

In [16]:
# Filter example
Filter = stats.Internetusers < 2

stats[Filter] # Conceptually this is just like R

      CountryName CountryCode  Birthrate  Internetusers          IncomeGroup
11        Burundi         BDI     44.151            1.3           Low income
52        Eritrea         ERI     34.800            0.9           Low income
55       Ethiopia         ETH     32.925            1.9           Low income
64         Guinea         GIN     37.337            1.6           Low income
117       Myanmar         MMR     18.119            1.6  Lower middle income
127         Niger         NER     49.661            1.7           Low income
154  Sierra Leone         SLE     36.729            1.7           Low income
156       Somalia         SOM     43.891            1.5           Low income
172   Timor-Leste         TLS     35.755            1.1  Lower middle income

In [17]:
# BirthRate greater than 40

Filter2 = stats.Birthrate > 40

stats[Filter2]

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
2,Angola,AGO,45.985,19.1,Upper middle income
11,Burundi,BDI,44.151,1.3,Low income
14,Burkina Faso,BFA,40.551,9.1,Low income
65,"Gambia, The",GMB,42.525,14.0,Low income
115,Mali,MLI,44.138,3.5,Low income
127,Niger,NER,49.661,1.7,Low income
128,Nigeria,NGA,40.045,38.0,Lower middle income
156,Somalia,SOM,43.891,1.5,Low income
167,Chad,TCD,45.745,2.3,Low income
178,Uganda,UGA,43.474,16.2,Low income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income

In [18]:
Filter3 = stats.Birthrate > 40 and stats.Internetusers < 2 # Error Python thinks that we want to and two single values and not to list's therefor ambiguous
#Filter3 = Filter2 & Filter # & dose it element by element
stats[Filter3]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [19]:
Filter3 = Filter2 & Filter # & dose it element by element
stats[Filter3]

    CountryName CountryCode  Birthrate  Internetusers IncomeGroup
11      Burundi         BDI     44.151            1.3  Low income
127       Niger         NER     49.661            1.7  Low income
156     Somalia         SOM     43.891            1.5  Low income

In [20]:
Filter3 = (stats.Birthrate > 40) & (stats.Internetusers < 2) # Error Python thinks that we want to and two single values and not to list's therefor ambiguous
#Filter3 = Filter2 & Filter # & dose it element by element
stats[Filter3]

    CountryName CountryCode  Birthrate  Internetusers IncomeGroup
11      Burundi         BDI     44.151            1.3  Low income
127       Niger         NER     49.661            1.7  Low income
156     Somalia         SOM     43.891            1.5  Low income

In [23]:
# Another one

stats[stats.IncomeGroup == 'High income']

               CountryName CountryCode  Birthrate  Internetusers  IncomeGroup
0                    Aruba         ABW     10.244          78.90  High income
4     United Arab Emirates         ARE     11.044          88.00  High income
5                Argentina         ARG     17.716          59.90  High income
7      Antigua and Barbuda         ATG     16.447          63.40  High income
8                Australia         AUS     13.200          83.00  High income
..                     ...         ...        ...            ...          ...
174    Trinidad and Tobago         TTO     14.590          63.80  High income
180                Uruguay         URY     14.374          57.69  High income
181          United States         USA     12.500          84.20  High income
184          Venezuela, RB         VEN     19.842          54.90  High income
185  Virgin Islands (U.S.)         VIR     10.700          45.30  High income

[67 rows x 5 columns]

In [24]:
# How to get the unique categories
stats.IncomeGroup.unique()

array(['High income', 'Low income', 'Upper middle income',
       'Lower middle income'], dtype=object)

In [26]:
# quick Exercise:

# Find out everything about Malta

stats[stats.CountryName == 'Malta']

    CountryName CountryCode  Birthrate  Internetusers  IncomeGroup
116       Malta         MLT        9.5        68.9138  High income