In [3]:
import pandas as pd

stats = pd.read_csv("P4-Demographic-Data.csv")

In [4]:
# Filtering data in dataframes

stats.Internetusers < 2

0      False
1      False
2      False
3      False
4      False
       ...
190    False
191    False
192    False
193    False
194    False
Name: Internetusers, Length: 195, dtype: bool

In [5]:
# Filter example
Filter = stats.Internetusers < 2

stats[Filter] # Conceptually this is just like R

      CountryName CountryCode  Birthrate  Internetusers          IncomeGroup
11        Burundi         BDI     44.151            1.3           Low income
52        Eritrea         ERI     34.800            0.9           Low income
55       Ethiopia         ETH     32.925            1.9           Low income
64         Guinea         GIN     37.337            1.6           Low income
117       Myanmar         MMR     18.119            1.6  Lower middle income
127         Niger         NER     49.661            1.7           Low income
154  Sierra Leone         SLE     36.729            1.7           Low income
156       Somalia         SOM     43.891            1.5           Low income
172   Timor-Leste         TLS     35.755            1.1  Lower middle income

In [6]:
# BirthRate greater than 40

Filter2 = stats.Birthrate > 40

stats[Filter2]

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
2,Angola,AGO,45.985,19.1,Upper middle income
11,Burundi,BDI,44.151,1.3,Low income
14,Burkina Faso,BFA,40.551,9.1,Low income
65,"Gambia, The",GMB,42.525,14.0,Low income
115,Mali,MLI,44.138,3.5,Low income
127,Niger,NER,49.661,1.7,Low income
128,Nigeria,NGA,40.045,38.0,Lower middle income
156,Somalia,SOM,43.891,1.5,Low income
167,Chad,TCD,45.745,2.3,Low income
178,Uganda,UGA,43.474,16.2,Low income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income

In [7]:
Filter3 = stats.Birthrate > 40 and stats.Internetusers < 2 # Error Python thinks that we want to and two single values and not to list's therefor ambiguous
#Filter3 = Filter2 & Filter # & dose it element by element
stats[Filter3]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
Filter3 = Filter2 & Filter # & dose it element by element
stats[Filter3]

In [ ]:
Filter3 = (stats.Birthrate > 40) & (stats.Internetusers < 2) # Error Python thinks that we want to and two single values and not to list's therefor ambiguous
#Filter3 = Filter2 & Filter # & dose it element by element
stats[Filter3]

In [ ]:
# Another one

stats[stats.IncomeGroup == 'High income']

In [ ]:
# How to get the unique categories
stats.IncomeGroup.unique()

In [ ]:
# quick Exercise:

# Find out everything about Malta

stats[stats.CountryName == 'Malta']

In [ ]:
### Accessing individual elements

stats[2,2] #Error

In [8]:
stats.head()

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [9]:
# .at #for labels. Important: even integers are treated as labels
# .iat #for integer location at specific cell

In [10]:
stats.iat[3,4]

'Upper middle income'

In [11]:
stats.iat[0,1]

'ABW'

In [12]:
stats.at[2, 'Birthrate']

45.985

In [13]:
subset10 = stats[::10]

In [14]:
subset10

     CountryName CountryCode  Birthrate  Internetusers          IncomeGroup
0          Aruba         ABW     10.244      78.900000          High income
10    Azerbaijan         AZE     18.300      58.700000  Upper middle income
20       Belarus         BLR     12.500      54.170000  Upper middle income
30        Canada         CAN     10.900      85.800000          High income
40    Costa Rica         CRI     15.022      45.960000  Upper middle income
50       Ecuador         ECU     21.070      40.353684  Upper middle income
60         Gabon         GAB     30.555       9.200000  Upper middle income
70     Greenland         GRL     14.500      65.800000          High income
80         India         IND     20.291      15.100000  Lower middle income
90    Kazakhstan         KAZ     22.730      54.000000  Upper middle income
100        Libya         LBY     21.425      16.500000  Upper middle income
110      Moldova         MDA     12.141      45.000000  Lower middle income
120   Mozambique         MOZ     39.705       5.400000           Low income
130  Netherlands         NLD     10.200      93.956400          High income
140       Poland         POL      9.600      62.849200          High income
150        Sudan         SDN     33.477      22.700000  Lower middle income
160     Suriname         SUR     18.455      37.400000  Upper middle income
170   Tajikistan         TJK     30.792      16.000000  Lower middle income
180      Uruguay         URY     14.374      57.690000          High income
190  Yemen, Rep.         YEM     32.947      20.000000  Lower middle income

In [15]:
subset10.iat[10,0] # .iat #for integer location at specific cell "counts every row"

'Libya'

In [16]:
subset10.at[10,'CountryName'] # .at #for labels. Important: even integers are treated as labels "looks for label 10"

'Azerbaijan'